.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// table {
//     table-layout: fixed;
//     width: 70%;
//     // display: flex;
//     // flex-direction: column;
//     // flex-wrap: wrap;
// }
// th {
//     display: flex;
//     gap: 5px;
//     padding: 10px;
// }
// tr {
//     border: 1px solid black;
// }
// td {
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     // display: flex;
//     // gap: 5px;
//     // padding: 10px;
// }

// .employeeList {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
// }
// .tableHeader {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
// }
table {
    table-layout: fixed;
    width: 70%;
}
