.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    justify-content: space-evenly;
}

.header {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 15px;
    align-items: center;
}

.prevNext {
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: space-around;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.searchInput {
    display: flex;
}
.closeBtn {
    background-color: white;
    border: none;
}
