.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    justify-content: space-evenly;
}

.elements {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
}

.hidden {
    display: none;
}
.select {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.prevNext {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-around;
}
