.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}
.adressDiv {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid black;
}
