.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.input {
    border: none;
    width: 100%;
}
.input:focus {
    outline: none;
}
.inputContainer {
    border: 1px solid black;
    display: flex;
    border-radius: 5px;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 3px;
}
