.tabHeadContainer {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: nowrap;
    // border-bottom: 2px solid white;
    // justify-content: space-between;
    background-color: black;
    color: white;
}

.th {
    cursor: pointer;
    padding: 10px;
    border-right: 1px solid white;
}
