.tabHeadContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 1px solid black;
}

.row {
    width: 80px;
    padding: 10px;
    border-right: 1px solid black;
}
