.tbodyTd {
    width: 80px;
    padding: 10px;
    border-right: 1px solid black;
}
.tbodyContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

tr {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
